<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal Appix</title>
    <!--link rel="stylesheet" href="casoBase.css"-->
    <!--link rel="stylesheet" href="diseno-menuPrincipal.css"-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
</head>
<body>
    <style>    
        body {
            background-image: url('/proyecto/FONDO_web_N-03.png');
            background-size: cover; /* Cubrir todo el fondo */
            background-position: center bottom; /* Centrar la imagen en la página */
            background-attachment: fixed;
            background-repeat: no-repeat;
        }  
        .form-check-input {
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 0.5rem;
        }
        .form-control {
            border: 1px solid #000000;
        }
        .buttonstyle {
            color: white;
            background-color: green;
        }

        .boxstyle {
            background: white;
        }
    </style>
    <%- include('./../barra_principal.ejs')%>
    <nav class="boton" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
            <a class="page-link" style="background-color: rgb(49,108,244); color:white" href="/proyecto/<%=id_proyecto%>/info_proyecto" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>Regresar</a>
        </ul>
    </nav>
    <div class="row justify-content-center mt-6">
        <div class="text-center">
            <h3 style="margin-bottom: 0px; margin-top: 16px;">Editar el Proyecto</h3>
        </div>
    </div>

    <div class="container py-4">
      
            <div class="mb-3 row">
                <label for="inputNombre" class="col-sm-2 col-form-label">Nombre de proyecto</label>
                <div class="col-sm-10">
                    <input name="nombre_proyecto" type=" text" class="form-control" id="nombre_proyecto" value="<%= proyecto[0].nombre_proyecto %>">
                    <span id="contadorNombre">0/30</span>
                    <div id="msg_nombre_proyecto" style="display: none;">
                        <p style="color: red;">Nombre de proyecto incorrecto</p>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputCliente" class="col-sm-2 col-form-label">Nombre de empresa</label>
                <div class="col-sm-10">
                    <input name="empresa" type=" text" class="form-control" id="empresa" value="<%= proyecto[0].empresa %>">
                    <span id="contadorEmpresa">0/15</span>
                    <div id="msg_empresa" style="display: none;">
                        <p style="color: red;">Nombre de empresa incorrecto</p>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputStartDate" class="col-sm-2 col-form-label">Fecha de inicio</label>
                <div class="col-sm-10">
                    <input name="f_creacion" type="text" class="form-control" id="f_creacion" value="<%= proyecto[0].fecha_creacion %>">
                    <div id="msg_f_fin" style="display: none;">
                        <p style="color: red;">La fecha de inicio no puede ser posterior a la fecha de fin. Introduzca una fecha de inicio y fin coherentes</p>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputEndDate" class="col-sm-2 col-form-label">Fecha de final</label>
                <div class="col-sm-10">
                    <input name="f_fin" type="text" class="form-control" id="f_fin" value="<%= proyecto[0].fecha_fin %>">
                    <div id="msg_f_creacion" style="display: none;">
                        <p style="color: red;">Introduza una fecha de termino posterior al dia de hoy</p>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputEncargado" class="col-sm-2 col-form-label">Encargado</label>
                <div class="col-sm-10">
                    <input name="encargado" type="text" class="form-control" id="encargado" value="<%= proyecto[0].encargado %>">
                    <span id="contadorEncargado">0/30</span>
                    <div id="msg_encargado" style="display: none;">
                        <p style="color: red;">Nombre del encargado incorrecto</p>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPresupuesto" class="col-sm-2 col-form-label">Presupuesto</label>
                <div class="col-sm-10">
                    <input name="presupuesto" type="text" class="form-control" id="presupuesto" value="<%= proyecto[0].presupuesto %>">
                    <div id="msg_presupuesto" style="display: none;">
                        <p style="color: red;">Presupuesto incorrecto. Introduza solo digitos</p>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPresupuesto" class="col-sm-2 col-form-label">Descripcion de proyecto</label>
                <div class="col-sm-10">
                    <textarea name="descripcion" class="form-control" id="descripcion" rows="4"><%= proyecto[0].descripcion %></textarea>
                    <span id="contadorCaracteres">0/500</span>
                    <div id="msg_descripcion" style="display: none;">
                        <p style="color: red;">Descripcion incorrecta</p>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <button id="boton_guardar" data-id="<%=id_proyecto%>" type="button" class="btn btn-success mb-3" >Guardar</button>
            </div>
            <div id="vacio" style="display: none;">
                <p style="color: red; text-align: right;">Campos vacíos, por favor llenalos todos para continuar</p>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('#f_creacion').datepicker({
                format: 'dd/mm/yyyy', 
                autoclose: true 
            });
        });
        $(document).ready(function(){
            $('#f_fin').datepicker({
                format: 'dd/mm/yyyy', 
                autoclose: true 
            });
        });
    </script>
</body>
    <%- include('./editar_proyecto.js.ejs')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="/proyecto/editar_proyecto.js"></script>
</html>