<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal Appix</title>
    <!--link rel="stylesheet" href="casoBase.css"-->
    <!--link rel="stylesheet" href="diseno-menuPrincipal.css"-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    
</head>
<body>
    <style>   
        body {
            background-image: url('/proyecto/FONDO_web_N-03.png');
            background-size: cover; /* Cubrir todo el fondo */
            background-position: center bottom; /* Centrar la imagen en la página */
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        .form-check-input {
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 0.5rem;
        }
        .form-control {
            border: 1px solid #000000;
        }
    </style>
    <%- include('./../barra_principal.ejs')%>
    <nav class="boton" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
            <a class="page-link" style="background-color: rgb(49,108,244); color:white"  href="/proyecto/<%=id_proyecto%>/menu_proyecto" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>Regresar</a>
        </ul>
    </nav>
   
    <div class="row justify-content-center mt-6">
        <div class="col-md-2">
            <div class="text-center">
                <h3 style="margin-bottom: 0px;">Información Del</h3>
                <h3>Proyecto</h3>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <form class=" row g-3">
            <fieldset disabled="disabled">
                <div class="mb-3 row">
                    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre de proyecto</label>
                    <div class="col-sm-10">
                    <input type=" text" class="form-control" id="inputNombre" placeholder="<%= proyecto[0].nombre_proyecto%>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputCliente" class="col-sm-2 col-form-label">Nombre de empresa</label>
                    <div class="col-sm-10">
                    <input type=" text" class="form-control" id="inputCliente" placeholder="<%= proyecto[0].empresa %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputStartDate" class="col-sm-2 col-form-label">Fecha de inicio</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputStartDate" placeholder="<%= proyecto[0].fecha_creacion %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputEndDate" class="col-sm-2 col-form-label">Fecha de final</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEndDate" placeholder="<%= proyecto[0].fecha_fin %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputEncargado" class="col-sm-2 col-form-label">Encargado</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEncargado" placeholder="<%= proyecto[0].encargado %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPresupuesto" class="col-sm-2 col-form-label">Presupuesto</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPresupuesto" placeholder="<%= proyecto[0].presupuesto %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPresupuesto" class="col-sm-2 col-form-label">Descripcion de proyecto</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputProyecto" rows="4" placeholder="<%= proyecto[0].descripcion %>"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
        <%if (rol || lider){ %>
            <div class="row g-3">
                <a href="/proyecto/<%=id_proyecto%>/editar_proyecto" type="submit" class="btn btn-warning mb-3">Editar</a>
            </div> 
        <%}%>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        var textarea = document.getElementById('inputProyecto');
        var contadorCaracteres = document.getElementById('contadorCaracteres');
        textarea.addEventListener('input', function() {
            contadorCaracteres.textContent = textarea.value.length + '/500';
            if (textarea.value.length > 500) {
                textarea.value = textarea.value.slice(0, 500);
                contadorCaracteres.textContent = '500/500';
            }
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#inputStartDate').datepicker({
                format: 'dd/mm/yyyy', 
                autoclose: true 
            });
        });
        $(document).ready(function(){
            $('#inputEndDate').datepicker({
                format: 'dd/mm/yyyy', 
                autoclose: true 
            });
        });
    </script>
</body>
</html>