<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../head.ejs') %>
        <%- include('./../style.ejs') %>
        <title>Menú Principal Appix</title>
    </head>
<body>
    <%- include('./../barra_principal.ejs')%>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Departamento</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Seleccionar
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Diseño</a></li>
                    <li><a class="dropdown-item" href="#"> Desarrollo</a></li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
        <% if(rol){%>
            <a href="/proyecto/nuevo_proyecto" class="btn btn-primary" >Crear nuevo proyecto</a>
        <%}%>
    </nav>
    <% if (error){%>
        <br>
        <br>
        <div style="text-align: center;" >
          <h2 style="color: gray;">No veo Proyectos recientes. Empecemos creando uno ;)</h2>
        </div>
    <%} else{%>
        <h1>Proyectos Activos</h1>

        <div class="container py-4">
            <div class="row row-cols-4 g-4">
                <%var flag = false%>
                <% for (var i = 0; i< proyecto.length ; i++){ %>
                    <% if(proyecto[i].estatus == true){%>
                        <%flag = true%>
                        <div class="col">
                            <div class="card"> 
                            <img src="./ejemplo.jpg" class="card-img-top" alt="Imágen de ejemplo">
                            <div class="card-body">
                                <h5 class="card-title"><%= proyecto[i].nombre_proyecto %></h5>
                                <p class="card-text"><%= proyecto[i].descripcion %></p>
                                <a href="<%= proyecto[i].id_proyecto%>/menu_proyecto" class="btn btn-primary" id="go">Ver más</a>
                            </div>
                            </div>
                        </div> 
                    <%}%>
                <% } %>
                
            </div>
        </div> 
        <%if (!flag){%>
            <br>
            <div style="text-align: center;" >
                <h2 style="color: gray;">No veo Proyectos recientes. Empecemos creando uno ;)</h2>
            </div>
            <br>
        <%}%>
        <h1>Proyectos Pasados</h1>

        <div class="container py-4">
            <div class="row row-cols-4 g-4">
                <%var flag = false%>
                <% for (var i = 0; i< proyecto.length ; i++){ %>
                    <% if(proyecto[i].estatus == false){%>
                        <%flag = true%>
                        <div class="col">
                            <div class="card"> 
                            <img src="./ejemplo.jpg" class="card-img-top" alt="Imágen de ejemplo">
                            <div class="card-body">
                                <h5 class="card-title"><%= proyecto[i].nombre_proyecto %></h5>
                                <p class="card-text"><%= proyecto[i].descripcion %></p>
                                <a href="<%= proyecto[i].id_proyecto%>/menu_proyecto" class="btn btn-primary" id="go">Ver más</a>
                            </div>
                            </div>
                        </div> 
                    <%}%>
                <% } %>
            </div> 
        </div>
        <%if (!flag){%>
            <br>
            <div style="text-align: center;" >
                <h2 style="color: gray;">Aun no hay proyectos concluidos</h2>
            </div>
            <br>
        <%}%>
    </div>
    <%}%>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
