<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <%-include('./../style.ejs')%>
</head>
<body>
    <style>        
        .form-check-input {
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 0.5rem;
        }
        .form-control {
            border: 1px solid #000000;
        }
    </style>
    <%- include('./../barra_principal.ejs')%>
    <div class="conteiner py-4">
        <div class="row justify-content-center mt-6">
            <div class="col-md-2">
                <div class="text-center">
                    <h3 style="margin-bottom: 0px;">Editar Usuario</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <form class=" row g-3" action="/usuario/<%=usuario[0].id_usuario%>/editar_usuario" method = "POST">
            <div class="mb-3 row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre(s)* </label>
                <div class="col-sm-10">
                <input type= "text" class="form-control" id="nombre" name = "nombre" value="<%= usuario[0].nombres %>">
                <span id="contadorNombre">0/30</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="apellido_p" class="col-sm-2 col-form-label">Apellido Paterno*</label>
                <div class="col-sm-10">
                <input type=" text" class="form-control" id="apellido_p" name = "apellido_p" value = "<%= usuario[0].apellido_p %>">
                <span id="contadorApellido_p">0/15</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="apellido_m" class="col-sm-2 col-form-label">Apellido Materno</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="apellido_m" name = "apellido_m" value = "<%= usuario[0].apellido_m %>">
                <span id="contadorApellido_m">0/15</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="correo" class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="correo" name = "correo" value = "<%= usuario[0].correo %>" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="contrasena" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" id="contrasena" name = "contrasena" placeholder = "Solo use este campo si va a cambiar la contraseña">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="rol" class="col-sm-2 col-form-label">Rol*</label>
                <div class="col-sm-10">
                    <select name="acceso" id="rol" value = "<%= usuario[0].rol%>">
                        <option value="0" >Colaborador</option>
                        <option value="1" >Administrador</option>
                    </select>
                </div>
            </div>
            <div class="row g-3">
                <button type="submit" class="btn btn-primary mb-3">Ingresar Datos</button>
            </div>
            <div class="offset-md-2 g-5" >
                <% if (!valido){%>
                    <h4 style="color: red;">Campos vacíos, por favor llenalos todos para continuar</h4>
                <%}%>
            </div>
            <div class="offset-md-2 g-5" >
                <% if (!nombre){%>
                    <h4 style="color: red;">Nombre o apellido inválido, no introduzca números o símbolos</h4>
                <%}%>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
    (function() {
        var textarea = document.getElementById('nombre');
        var contadorCaracteres = document.getElementById('contadorNombre');
        function actualizarContador(){
            contadorCaracteres.textContent = textarea.value.length + '/30';
            if (textarea.value.length > 30) {
                textarea.value = textarea.value.slice(0, 30);
                contadorCaracteres.textContent = '30/30';
            }
        }
        textarea.addEventListener('input', actualizarContador);
        textarea.addEventListener('change', actualizarContador());
    })();
    </script>
    <script>
    (function() {
        var textarea = document.getElementById('apellido_p');
        var contadorCaracteres = document.getElementById('contadorApellido_p');
        function actualizarContador(){
            contadorCaracteres.textContent = textarea.value.length + '/15';
            if (textarea.value.length > 15) {
                textarea.value = textarea.value.slice(0, 15);
                contadorCaracteres.textContent = '15/15';
            }
        }
        textarea.addEventListener('input', actualizarContador);
        textarea.addEventListener('change', actualizarContador());
    })();
    </script>
    <script>
    (function() {
        var textarea = document.getElementById('apellido_m');
        var contadorCaracteres = document.getElementById('contadorApellido_m');
        function actualizarContador(){
            contadorCaracteres.textContent = textarea.value.length + '/15';
            if (textarea.value.length > 15) {
                textarea.value = textarea.value.slice(0, 15);
                contadorCaracteres.textContent = '15/15';
            }
        }
        textarea.addEventListener('change', actualizarContador());
        textarea.addEventListener('input', actualizarContador);
    })();
    </script>
</body>
</html>