<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nuevo proyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
</head>
<body>
    <style>        
        .form-check-input {
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 0.5rem;
        }
        .form-control {
            border: 1px solid #000000;
        }
        .table-responsive{
            border: 1px solid #000000;
        }
        .align-middle{
            border: 1px solid #000000;
        }
        .form-select {
            width: 130px; /* Cambia este valor según tu preferencia */
        }
        
        .padding{
            padding: 10%;
        }

    </style>
    <%- include('./../barra_principal.ejs')%>
    <%- include('./../style.ejs') %>
    <div class="row justify-content-center mt-6">
        <div class="col-md-2">
            <div class="text-center">
                <br>
                <br>
                <h3>Crear Nuevo Proyecto</h3>
                <br>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <form class=" row g-3" action="/proyecto/nuevo_proyecto" method="post">
            <div class="mb-3 row">
                <label for="inputNombre" class="col-sm-2 col-form-label">Nombre de proyecto</label>
                <div class="col-sm-10">
                  <input name = "nombre_proyecto" type=" text" class="form-control" id="nombre_proyecto"  pattern="^(\w|\.|%|-|\$|@|\s|ñ|á|é|í|ó|ú){1,30}$" title="Nombre de proyecto incorrecto" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputCliente" class="col-sm-2 col-form-label">Nombre de empresa</label>
                <div class="col-sm-10">
                  <input name = "empresa" type=" text" class="form-control" id="empresa" pattern="^(\w|\.|%|-|\$|@|\s|ñ|á|é|í|ó|ú){1,15}$" title="Nombre de empresa incorrecto" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputCliente" class="col-sm-2 col-form-label">Departamento</label>
                <div class="col-sm-10">
                    <select id="departamento" >
                        <%for (var i = 0; i < departamentos.length; i++){%>
                            <option value="<%=departamentos[i].nombre%>"><%=departamentos[i].nombre%></option>
                        <%}%>
                    </select>
                  <!--<input name = "departamento" type=" text" class="form-control" >-->
                </div>
            </div>
            <div class="mb-3 row">
                <label  for="inputStartDate" class="col-sm-2 col-form-label">Fecha de inicio</label>
                <div class="col-sm-10">
                  <input name = "f_creacion" type="text" class="form-control" id="f_creacion" placeholder="Selecciona una fecha de inicio">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputEndDate" class="col-sm-2 col-form-label">Fecha de final</label>
                <div class="col-sm-10">
                  <input name = "f_fin" type="text" class="form-control" id="f_fin" placeholder="Selecciona una fecha de fin">
                </div>
            </div>
            <div class="mb-3 row">
                <label  for="inputEncargado" class="col-sm-2 col-form-label">Encargado</label>
                <div class="col-sm-10">
                  <input name = "encargado" type="text" class="form-control" id="encargado" pattern="^(\w|\.|\s|ñ|á|é|í|ó|ú){1,30}$" title="Nombre de encargado incorrecto" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPresupuesto" class="col-sm-2 col-form-label">Presupuesto</label>
                <div class="col-sm-10">
                  <input name = "presupuesto" type="text" class="form-control" id="presupuesto" pattern="\d" title="Presupuesto incorrecto. Introduza solo digitos" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPresupuesto" class="col-sm-2 col-form-label">Descripcion de proyecto</label>
                <div class="col-sm-10">
                    <textarea name = "descripcion" class="form-control" id="descripcion" rows="4" pattern="^(\w|\.|%|-|\$|@|\s|ñ|á|é|í|ó|ú){1,500}$" title="Descripcion incorrecta" required></textarea>
                    <span id="contadorCaracteres">0/500</span>
                </div>
            </div>
            <div class="form-check">
                <div class="text-end">
                    <input id="boton-enviar" type="submit" class="btn btn-primary mb-3">Enviar</button>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-md-4">
                    <div class="text-center">
                        <h4 id="msg" style="color: red; background-color: #ffffff;"></h4>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="text-center">
        <button id="boton_riesgos" class= "btn btn-primary" onclick="toggleContentRiesgos()">Añadir Riesgos</button>
        <button id="boton_lider" class= "btn btn-primary" onclick="toggleContentUsuarios()">Añadir Lider</button>
    </div>
        
    <div id="riesgos" style="display: none;" >
        <br><br>
        <div class="row justify-content-center mt-6">
            <div class="col-md-4">
                <div class="text-center">
                    <h3>Añadir riesgo existente al proyecto</h3>
                </div>
            </div>
        </div>
        <br>
        
        <div class="container">
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Descripcion</th>
                            
                            <th scope="col">Categoria</th>
                            <th scope="col">Impacto</th>
                            <th scope="col">Probabilidad</th>
                            <th scope="col">Estrategia</th>
                            <th scope="col">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i< riesgo.length ; i++){ %>
                        <tr>
                            <td><p name="descripcion" ><%= riesgo[i].description %></p></td>
                    
                        

                            <%if (riesgo[i].categoria == 1){%>
                                <td><p style="color: #4ed0d7;">Alcance</p></td>
                            <%}else if (riesgo[i].categoria == 2){%>
                                <td><p style="color: #4e80d7;">Tiempo</p></td>
                            <%}else if (riesgo[i].categoria == 3){%>
                                <td><p style="color: orange;">Calidad</p></td>
                            <%}else if (riesgo[i].categoria == 4){%>
                                <td><p style="color: #4ef73c;">Costo</p></td>
                            <%}else if (riesgo[i].categoria == 5){%>
                                <td><p style="color: #ffdd1f;">Recursos</p></td>
                            <%}%>
                            <td><p><%= riesgo[i].impacto %></p></td>
                            <td><p><%= riesgo[i].probabilidad %></p></td>
                            <td><p><%= riesgo[i].estrategia_m %><p></td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="<%= riesgo[i].id %>" value="<%= riesgo[i].id %>">
                                </div>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container py-4">
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
        </div>  
    </div>
    
    <div id="usuarios" style="display: none;">
        <br><br>
        <div class="row justify-content-center mt-6">
            <div class="col-md-4">
                <div class="text-center">
                        <h3>Añadir Líder</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
                <div class="table-responsive">
                    <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < usuarios.length; i++) { %>
                            <tr>
                                <td><%= usuarios[i].id_usuario %></td>
                                <td><%= usuarios[i].nombres %></td>
                                <td><%= usuarios[i].correo %></td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="check" id="usuario<%=usuarios[i].id_usuario%>">
                                        <label class="form-check-label" for="usuario<%=usuarios[i].id_usuario%>">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                    </table>
                </div>
            </div>
    </div>

    <br><br><br><br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    
    <%- include('nuevo_proyecto.js.ejs')%>
    <script>
        $(document).ready(function(){
            $('#f_creacion').datepicker({
                format: 'dd/mm/yyyy', 
                autoclose: true 
            });
        });
        $(document).ready(function(){
            $('#f_fin').datepicker({
                format: 'dd/mm/yyyy', 
                autoclose: true 
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="/proyecto/nuevo_proyecto.js"></script>
</body>
</html>